$hero-background: black;
$filter-color: blue;
$background: #ffeeb0;
$background2: #a2d49f;
$background3: #c7c12f;
$background4: #f26247;
$background5: #ec2045;
$fargglad:#722872;
$morkfarg:#592059;
$morkgra:#888;

// Settings
h1, h2 {
  font-family: 'Bungee Inline', cursive;
}
h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

// Effects
@keyframes flicker{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      opacity:random();
    }
  }
}

// Classes
nav {
  font-size: 13px;
  background:$background5;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
  @media(max-width:768px){
    padding:5px;
    text-align:center;
    margin:0 auto;
    width:120%;
    .active a{
      color:$fargglad;
      background:#bbb;
      box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    }
  }
  .navbar-brand {
    font-family: 'Bungee Inline', cursive;
    font-size: 32px;
  }
  li{
    height:100%;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:2px;
    display:inline-flex;
    a{
      color:#ffffff;
      padding:10px 20px;
      &:hover{
        color:$fargglad;
        background:#bbb;
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
        }
      }
  }
  .navbar-toggle {
      margin-right:0;
  }
}

.hero{
    background: linear-gradient(-55deg,
                                $background 30%,
                                $background2 30%,
                                $background2 40%,
                                $background3 40%,
                                $background3 50%,
                                $background4 50%,
                                $background4 60%,
                                $background5 60%,
                                $background5 70%,
                                $background 70%
                             );
  background-attachment: fixed;
  height:100vh;
  margin-top:10px;
  position:relative;
  overflow:hidden;

  // flicker
  &::after{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:transparentize($filter-color,0.9);
    opacity:0;
    z-index:2;
    pointer-events:none;
  }
  // scanlines
  &::before{
    content:" ";
    display:block;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:linear-gradient(transparentize($filter-color,1) 50%, transparentize(darken($filter-color,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index:2;
    background-size:100% 2px, 3px 100%;
    pointer-events:none;
  }
}

#portfolio {

}

.padding-top-bottom {
  padding-bottom: 20px;
  padding-top: 20px;
}

.App-header {
  padding: 20px;
  font-family: 'Monoton', cursive;
}
.App-intro {
  font-size: large;
}

.skills {
  border-top-style: solid;
  border-top-width: 4px;
  background-color:  $background4;
}

.skill {
  margin: 0 auto;
  min-height: 100%;
  h4 {
    padding-top: 5px;
  }
  img {
    width: 25%;
    height: 25%;
    margin: 0 auto;
  }
}

.skills.row div:nth-child(even):hover {
  background-color: #CCF;
}

.port-item {
  h1, h2, h3, h4 {
    padding-top: 10px;
    padding-bottom: 200px;
  }
  min-height: 400px;
  min-width: 100%;
  button {
    width: 75%;
    font-size: 24px;
  }
  p {
    color: white;
  }
}

.bg-box {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
}

.grandma {
  background-image: url(../public/red-riding-hood.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background3;
}

.calc {
  background-image: url(../public/calc.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background3;
}

.gh-link {
  font-size: 30px;
}

// Utility classes
.center {
  margin: 0 auto;
}

.fill-parent {
  width: 100%;
}

.img-profile {
  max-width: 50px;
  max-height: 50px;
}
